/*global style*/

* {
    border: 10px solid red;
}

.header {
    background: lightblue;
    font-size: 32px;
    width: 600px;
    text-align: center;
}

/*index styles*/

.img.odin {
    width: 400px;
    height: auto;
}

/*recipes styles*/

.img.bone {
    width: 500px;
    height: auto;
}

.ingredients {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.steps {
    background: lightcyan;
}